.signup-component{
    margin-top: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 40px 20px;
    border: 2px solid #EBEEF0;  
}

.signup-component input {
    width: 100%;
    outline: 0;
    border: 2px solid #89A2B8;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.signup-component input:focus {
    border: 2px solid #1DA1F2;
}

.signup-component  div {
margin-top: 20px;
}
