.spacer {
    border-bottom: 2px solid #EBEEF0;
    background-color: #F7F9FA;
    height: 12px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid #EBEEF0;
    border-right: 2px solid #EBEEF0;
}

.timeline {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid #EBEEF0;
    border-right: 2px solid #EBEEF0;
}

.post {
    padding: 20px;
    border-bottom: 2px solid #EBEEF0;  
}

.post__author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post__author-image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #EBEEF0;
}

.post__author-image img {
    width: 60px;
    border-radius: 30px;
}

.post__user-profile{
    color: #89A2B8;
    font-weight: 600;
    font-size: 16px;
}

.post__content {
    padding: 20px;
    margin: 10px 0;
    border-radius: 4px;
    background-color: #F7F9FA;
}

.post__likes-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_like-button {
    cursor: pointer;
}

.post__likes-number {
    font-size: 16px;
}

.load-more{
    text-align: center;
    padding: 80px 0;
    border-bottom: 2px solid #EBEEF0;
}