.page-header {
    border-bottom: 1px solid #EBEEF0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.page-header__menu {
    display: flex;
    gap: 10px
}

.page-header__menu a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.page-header__menu a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #1DA1F2;
}

.logo {
    width: 30px;
}